<launch>

    <arg name="rviz" default="true" />
	<rosparam command="load" file="$(find ct_ekf)/config/aeva.yaml"/>

	<node pkg="ct_ekf" type="node" name="node" output="screen" launch-prefix="gdb -ex run --args" />

    <group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find ct_ekf)/config/avea.rviz"/>
    </group>


</launch>